
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
}
h1 {
  font-family: 'Playfair Display', serif;
}
.logo {
  font-family: 'Montserrat', sans-serif;
  font-size: 2em; 
}

body.light {
  background-color: white;
  color: black;
}

body.dark {
  background-color: #121212;
  color: white;
}


.darkModeBtn {
  align-items: center;
}